@model

@{
    ViewBag.Title = "Stores";
}

<table>
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Center Code</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Pincode</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
